.single-link{
    text-decoration: none;
    color:black;
    margin-left: 50px;
    font-weight: bolder;
    font-size: 17px;
    background-size: 0 100%;
}

.single-link:hover{
    text-decoration: none;
    color: navy;
    display: inline-block;
    /* transform: translate(5px); */
    background-image: linear-gradient(transparent calc(100% - 2px),#6699CC 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .7s;
}

@media (max-width:668px) {
    .single-link{
        text-decoration: none;
        color:black;
        margin-left: 0px;
        font-weight: bolder;
        font-size: 12px;
        background-size: 0 100%;
    }
    
}