#brand{
    margin-left: 15px;
}

.nav_item{
    margin-left: 70px;
}

.nav_item__text{
    text-decoration: none;
    font-weight: 800;
}

.nav_item__text:hover{
    font-weight: 800;
    border-bottom: 3px solid black;
    
}