.banner_div {
    position: relative;
    /* text-align: center; */
    color: white;
    margin-bottom: 10px;
  }
  
  .bottom_left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    margin-bottom: 100px;
  }

